@import '@radix-ui/colors/blackA.css';
@import '@radix-ui/colors/slate.css';
@import '@radix-ui/colors/violet.css';

.PromptRoot{
    display: flex;
    justify-content: center;
    background-color: var(--slate11);
    border-radius: 20px;
    width: 100%;
    margin-top: 10px;
}

.PromptArea{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 2rem;
}

.PromptElement{
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
}

.PromptText{
    border-radius: 10px;
    border: 3px solid white;
    height: 3rem;
    padding: 10px;
    background-color: var(--violet9);
    display: flex;
    align-items: center;
}